int-01-tca3s01-vmss_0	RG_TC_A3S_RGINTENV-01	int-01-tca3s01-vmss000000.int.corp.amdocs.azr
int-01-bastion-vmss_0	RG_TC_BASTION_RGINTENV-01	int-01-bastion-vmss000000.int.corp.amdocs.azr
int-01-tccli01-vmss_0	RG_TC_CLI_RGINTENV-01	int-01-tccli01-vmss000000.int.corp.amdocs.azr
int-01-cdhmng01-vmss_0	RG_TC_CLOUDERA_RGINTENV-01-01	int-01-cdhmng01-vmss000000.int.corp.amdocs.azr
int-01-cdhmng02-vmss_0	RG_TC_CLOUDERA_RGINTENV-01-02	int-01-cdhmng02-vmss000000.int.corp.amdocs.azr
int-01-cdhmng03-vmss_0	RG_TC_CLOUDERA_RGINTENV-01-03	int-01-cdhmng03-vmss000000.int.corp.amdocs.azr
int-01-cdhdat01-vmss_0	RG_TC_CLOUDERA_RGINTENV-01-D01	int-01-cdhdat01-vmss000000.int.corp.amdocs.azr
int-01-cdhdat02-vmss_0	RG_TC_CLOUDERA_RGINTENV-01-D02	int-01-cdhdat02-vmss000000.int.corp.amdocs.azr
int-01-cdhdat03-vmss_0	RG_TC_CLOUDERA_RGINTENV-01-D03	int-01-cdhdat03-vmss000000.int.corp.amdocs.azr
int-01-consul01-vmss_0	RG_TC_CONSUL_RGINTENV-01-01	int-01-consul01-vmss000000.int.corp.amdocs.azr
int-01-consul02-vmss_0	RG_TC_CONSUL_RGINTENV-01-02	int-01-consul02-vmss000000.int.corp.amdocs.azr
int-01-consul03-vmss_0	RG_TC_CONSUL_RGINTENV-01-03	int-01-consul03-vmss000000.int.corp.amdocs.azr
int-01-master01-vmss_0	RG_TC_MASTER_RGINTENV-01	int-01-master01-vmss000000.int.corp.amdocs.azr
int-01-tcmon-vmss_0	RG_TC_MON_RGINTENV-01	int-01-tcmon-vmss000000.int.corp.amdocs.azr
int-01-tcuh01-vmss_0	RG_TC_UH_RGINTENV-01-01	int-01-tcuh01-vmss000000.int.corp.amdocs.azr
int-01-tcuh02-vmss_0	RG_TC_UH_RGINTENV-01-02	int-01-tcuh02-vmss000000.int.corp.amdocs.azr
